<div id="product-page-with-sidenav" class="related-below">
  <div class="bgProduct"> 
    <a href="https://www.emergencylight.net/">
        <img class="productLogo" src="../../../assets/img/mobileLogo.jpg" alt="The Lighting Source Logo">
    </a>
        <a href="tel:+18002825600">
            <img class="productNumber" src="https://www.emergencylight.net/content/images/emergency-lights-company.jpg" alt="Touch to call company">
        </a>
  </div>
  {{> components/custom/sidenav}}

<div class="product-schema" itemscope itemtype="http://schema.org/Product">

  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

  {{#each product.shipping_messages}}
      {{> components/common/alert-info message}}
  {{/each}}
    {{> components/products/product-view schema=true  }}

    {{{region name="product_below_content--global"}}} 
    {{{region name="product_below_content"}}}

    {{> components/products/tabs}}
    <div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</div>
