// Header for Home Page
.bg {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -4rem; 
  align-items: center;
  justify-content: center;
  padding: 1rem;
  .homeLogo {
    width: 86%;
  margin: 0 auto;
  }
}

.homeLogo, .homeNumber {
  width: 22rem !important;
}

@include media(">=lgphone", "<tablet") {
  .bg {
    top: -2rem !important;

  }
}

@include media(">=700px") {
  .bg {
    flex-direction: row;
    top: unset;
  }
}

