#body > div.header-container.sticky-header > div.top-menu > div {
  height: 2em;
}

#body
  > div.header-container.sticky-header
  > div.top-menu
  > div
  > div.right.account-links
  > ul
  > li.navUser-item.navUser-item--cart
  > a
  > span.navUser-item-cartLabel
  > i {
  height: 1.5em;
  background: $primaryRed;
}

//(320px - 424px)
@include media(">phone", "<lgphone") {
  .menuC {
    background: $primaryRed !important;
    position: relative;
    z-index: 1000;
  }
  #body
    > div.header-container.sticky-header
    > div.header-container.full-width.full-width.in-container
    > div
    > div
    > header
    > div.header-logo.header-logo--left,
  .header-padding {
    background: white !important;
  }
  #body
    > div.header-container.sticky-header
    > div.header-container.full-width.full-width.in-container
    > div
    > div
    > header
    > div.header-logo.header-logo--left {
    display: none;
  }
  .bg {
    height: 10em;
    background: #fff;
    width: 100vw;
    left: -12em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobileLogo {
    width: 70%;
    margin-bottom: 0.75em;
  }
  .mobileNumber {
    position: relative;
    width: 70%;
    left: 3.3em;
    margin-bottom: 2em;
  }
  .navPages {
    background: $primaryRed !important;
  }
}
