#body > div.header-container.sticky-header > div.top-menu > div {
  height: 2rem;
}

#body
  > div.header-container.sticky-header
  > div.top-menu
  > div
  > div.right.account-links
  > ul
  > li.navUser-item.navUser-item--cart
  > a
  > span.navUser-item-cartLabel
  > i {
  height: 1.5rem;
  background: $primaryRed;
}

//(320px - 424px)
@include media(">phone", "<tablet") {
  #body
    > div.header-container.sticky-header
    > div.header-container.full-width.full-width.in-container
    > div
    > div
    > header
    > div.header-logo.header-logo--left,
  .header-padding {
    background: white !important;
  }
  #body
    > div.header-container.sticky-header
    > div.header-container.full-width.full-width.in-container
    > div
    > div
    > header
    > div.header-logo.header-logo--left {
    display: none;
  }
  .bg {
    height: 10rem;
    background: #fff;
    width: 100vw;
    left: -12rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobileLogo {
    width: 70%;
    margin-bottom: 0.75rem;
  }
  .mobileNumber {
    position: relative;
    width: 70%;
    left: 3.3rem;
    margin-bottom: 2rem;
  }

  // Mobile Navigation Menu
  .navPages {
    background: $primaryRed !important;
    width: 60%;
  }
}
#menu {
  background: $primaryRed !important;
}
.mobileNavMenu {
  background: $primaryRed !important;
  position: relative;
  width: 60% !important;
  #desktop-menu > h2,
  #mobile-menu > div.category-menu > h2,
  #mobile-menu > div.brand-menu > h2 {
    background: rgb(235, 233, 233);
    color: $primaryRed !important;
    width: 15.269rem;
  }

  .searchMobileMenu {
    width: 12rem !important;
  }

  #search_query {
    width: 13.2rem !important;
    position: relative;
    top: -0.4em !important;
    min-height: 2rem !important;
    position: absolute;
  }
}

@include media(">=lgphone", "<tablet") {
  //Header
  .mobileLogo {
    width: 55%;
  }

  //Mobile Nav Menu
  .mobileNavMenu {
    width: 50% !important;
  }
  .navPages {
    width: 50% !important;
  }
  #desktop-menu > h2,
  #mobile-menu > div.category-menu > h2,
  #mobile-menu > div.brand-menu > h2 {
    width: 17.269rem;
  }
}
