.bg {
     top: 4rem;
}


@media screen and (min-width: 425px) {
    .bg {
        top: 2rem !important;
    }
    .mobileLogo, .mobileNumber { 
        width: 370px;
        max-width: 370px;
    }
  }

@media screen and (min-width: 768px) {
    .bg {
        flex-direction: row;
    }
    .mobileLogo {
        position: relative;
        top: 2.5rem;
    }
      .mobileNumber {
        top: 4rem !important;
    }
}

@media screen and (min-width: 801px) {
    #side-categories > div.categories {
        top: 7rem;
      }
    .callNow {
        top: 7rem;
      }
}

